.user-dashboard-container {
    background-color: #121212;
    color: #eaeaea;
    min-height: 100vh;
  }
  
  .user-dashboard-card {
    background-color: #1e1e1e;
    border: none;
  }
  
  .user-artist-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
  }
  
  .progress-bar-container {
    margin-top: 10px;
  }
  